<template>
  <require from="../resources/elements/dashboard-header"></require>
  <require from="../resources/elements/add-poi-form"></require>
  <require from="../resources/elements/poi-list"></require>

  <div class="ui stackable grid">
    <div class="sixteen wide column">
      <dashboard-header></dashboard-header>
    </div>
    <div class="six wide column">
      <add-poi-form categories.bind="categories"></add-poi-form>
    </div>
    <div class="ten wide column">
      <poi-list pois.bind="pois" categories.bind="categories"></poi-list>
    </div>
  </div>
</template>
